<nav class="navbar navbar-light bg-light">
  <ul class="list-group list-group-horizontal-sm">
      <li class="list-group-item">  <a href="/"><b>Home</b></a>
        
      <li class="list-group-item"> <a href="/ask"><b>    Ask a Question</b></a></li></li>
  </ul>
</nav>